{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>No Fluff Apartments</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import minimized materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <!--Import material icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Link custom css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <!-- Navigation bar with options dependent on device size-->
        <div>
            <nav>
                <div class="nav-wrapper cyan accent-4">
                    <a href="" class="brand-logo center ">No Fluff Homes</a>

                    <!-- Large device version-->
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="">Login</a></li>
                        <li><a href="">Messages<span class="new badge grey">4</span></a></li>
                        <li><a href="">Register</a></li>
                    </ul>

                    <!-- Med and small device version -->
                    <ul id="nav-mobile" class="right hide-on-lar">
                        <!-- Size of menu icon adjusted through style, font-size property -->
                        <li><a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons" style="font-size: 2em">menu</i></a></li>
                    </ul>
                </div>
            </nav>      
        </div>

        <!-- Side-navigation menu for mid and small devices-->
        <ul id="slide-out" class="side-nav">
            <li></li>
            <li><a href="#!"><i class="material-icons">menu</i>What do you want to do?</a></li>
            <li><a href="#!">Log in</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Register</a></li>
            <li><a class="waves-effect" href="#!">Messages<span class="new badge cyan accent-4">4</span></a></li>
        </ul>

        <!-- Main body-->
        <main>
            <div class="container">

                <!-- Search input field ver 1
                <div class="row" style="margin-top: 4em;">
                    <form class="col s10 offset-s1">
                        <div class="row">
                            <div class="input-field">
                                <i class="material-icons prefix" style="font-size: 3em;">search</i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">What are you looking for?</label>
                            </div>
                        </div>
                    </form>
                </div>
                -->

                <!-- Search input field ver 2-->
                <div class="row" style="margin-top: 2em;">
                    <nav>
                        <div class="nav-wrapper">
                            <form>
                                <div class="input-field amber accent-4">
                                    <input id="search" placeholder="What are you looking for?" type="search" required>
                                    <label for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>

                <!-- Search categories -->
                <div class="row">
                    <div class="col s12 m10 l10 offset-l1 offset-m1">
                        <!-- Instruction in blockquote-->
                        <blockquote class="flow-text" style="font-size: 1em;">
                        Filter offers specifically for what you want!
                        </blockquote>
                        <ul class="collapsible" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">label_outline</i>Category</div>
                                <div class="collapsible-body">
                                    <form action="#">
                                        <p>
                                            <input type="checkbox" id="category_1" />
                                            <label for="category_1">Apartment</label>
                                            <br/>
                                            <input type="checkbox" id="category_2" />
                                            <label for="category_2">House</label>
                                            <br/>
                                            <input type="checkbox" id="category_3" />
                                            <label for="category_3">Room</label>
                                            <br/>
                                            <input type="checkbox" id="category_4" />
                                            <label for="category_4">Loft</label>
                                        </p>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">people</i>People</div>
                                <div class="collapsible-body">
                                    <form action="#">
                                        <p>
                                            <input name="group1" type="radio" id="people_1" />
                                            <label for="people_1">1 person</label>
                                            <br/>
                                            <input name="group1" type="radio" id="people_2" />
                                            <label for="people_2">2 people</label>
                                            <br/>
                                            <input name="group1" type="radio" id="people_3" />
                                            <label for="people_3">3 people</label>
                                            <br/>
                                            <input name="group1" type="radio" id="people_4" />
                                            <label for="people_4">4 or more</label>
                                            <br/>
                                        </p>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">place</i>Location</div>
                                <div class="collapsible-body">
                                    <div class="input-field">
                                        <input id="city" type="text" class="validate">
                                        <label for="city" style="text-align: center">City</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="country" type="text" class="validate">
                                        <label for="country" style="text-align: center">Country</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">credit_card</i>Monthly cost ($)</div>
                                <div class="collapsible-body">
                                    <form action="#">
                                        <p class="range-field">
                                            <input type="range" id="monthly" min="0" max="100" />
                                        </p>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">info</i>Other</div>
                                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                            </li>
                          </ul>
                    </div>
                </div>

                <!-- Available apartments display section -->

                <!-- Apartments display ver 1
                <div class="row">
                    <div class="col s12 m10 l10 offset-l1 offset-m1 card-panel">
                        <blockquote class="flow-text" style="font-size: 1em;">
                        Here's a list of all the homes &amp; appartments for rent. Check out the initial details or click to see more!
                        </blockquote>
                      <table class="striped">
                        <thead>
                          <tr>
                              <th data-field="name">Name</th>
                              <th data-field="cost">Monthly cost</th>
                              <th data-field="rating">Rating</th>
                              <th data-field="city">City</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Attractive Loft for 2</td>
                            <td>$400</td>
                            <td>87%</td>
                            <td>Gdansk</td>
                          </tr>
                          <tr>
                            <td>Single Room, Student</td>
                            <td>$250</td>
                            <td>62%</td>
                            <td>Cracow</td>
                          </tr>
                          <tr>
                            <td>Suburban House</td>
                            <td>$350</td>
                            <td>79%</td>
                            <td>Warsaw</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                -->

                <!-- Apartments display ver 2 -->
                 <div class="row">
                    <div class="col s12 m10 l10 offset-l1 offset-m1 card-panel">
                        <!-- Instruction in blockquote-->
                        <blockquote class="flow-text" style="font-size: 1em;">
                        Here's a list of all the homes &amp; apartments for rent. 
                        <br/>Check out the initial details and click to see more!
                        </blockquote>
                        <div class="collection">
                            <a href="#!" class="collection-item">2-bedroom Apartment<span class="new badge badge amber accent-4" data-badge-caption="today"></span></a>
                            <a href="#!" class="collection-item">Studio Apartment<span class="new badge cyan accent-4" data-badge-caption="this week"></span></a>
                            <a href="#!" class="collection-item">Waterfront Bachelor Pad<span class="new badge cyan accent-4" data-badge-caption="this week"></span></a>
                            <a href="#!" class="collection-item">Victorian House with Garden<span class="badge" data-badge-caption="">$450</span></a>
                        </div>
                    </div>
                </div>

        </main>

        <!-- Footer -->
        <footer class="page-footer cyan darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Liked our page?</h5>
                        <p class="grey-text text-lighten-4">Check out some of our other projects!</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Github?</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Contributor Links?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2016 hacker:space tricity
                    <a class="grey-text text-lighten-4 right" href="#!">Hacker:space link?</a>
                </div>
            </div>
        </footer>

    </body>
    <!-- Link to minified jQuery library-->
    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"> </script>
    <!-- Link to materialize.css javascript (must be linked after jQuery)-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"> </script>
    <!-- Link to customized jS script-->
    <script type="text/javascript" src="{% static 'js/script.js' %}"> </script>
</html>