<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="description" content="No fluff apartments">
	    <meta name="keywords" content="">
	    <title>No Fluff Apartments</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import minimized materialize.css-->
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <!--Import material icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div>
		    <nav>
                <div class="nav-wrapper cyan accent-4">
                    <a href="" class="brand-logo center ">No Fluff Homes</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="">Login</a></li>
                        <li><a href="">Messages<span class="new badge grey">4</span></a></li>
                        <li><a href="">Register</a></li>
                    </ul>
                </div>
            </nav>
		</div>
		<div class="container">
	        <div class="row">
                <div class="col s12 m10 l10 offset-l1 offset-m1 card-panel cyan accent-4">
                    <p class="center-align"><span class="flow-text white-text text-darken-2"><i class="material-icons">search</i> Search bar</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10 l10 offset-l1 offset-m1 card-panel cyan accent-4">
                    <p class="center-align"><span class="flow-text white-text text-darken-2">Categories</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10 l10 offset-l1 offset-m1 card-panel">
                    <blockquote class="flow-text" style="font-size: 1em;">
                    Here's a list of all the homes &amp; appartments for rent. Check out the initial details or click to see more!
                    </blockquote>
                  <table class="striped">
                    <thead>
                      <tr>
                          <th data-field="name">Name</th>
                          <th data-field="cost">Monthly cost</th>
                          <th data-field="rating">Rating</th>
                          <th data-field="city">City</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Attractive Loft for 2</td>
                        <td>$400</td>
                        <td>87%</td>
                        <td>Gdansk</td>
                      </tr>
                      <tr>
                        <td>Single Room, Student</td>
                        <td>$250</td>
                        <td>62%</td>
                        <td>Cracow</td>
                      </tr>
                      <tr>
                        <td>Suburban House</td>
                        <td>$350</td>
                        <td>79%</td>
                        <td>Warsaw</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
             <div class="row">
                <div class="col s12 m10 l10 offset-l1 offset-m1 card-panel">
                    <div class="collection">
                        <a href="#!" class="collection-item">2-bedroom Apartment<span class="badge">9.5/10</span></a>
                        <a href="#!" class="collection-item">Studio Apartment<span class="new badge red">4</span></a>
                        <a href="#!" class="collection-item">Waterfront Bachelor Pad<span class="new badge">8</span></a>
                        <a href="#!" class="collection-item">Victorian House with Garden<span class="badge">7.8</span></a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="page-footer cyan darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Liked our page?</h5>
                        <p class="grey-text text-lighten-4">Check out some of our other projects!</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Github?</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Contributor Links?</a></li>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2016 hacker:space tricity
                    <a class="grey-text text-lighten-4 right" href="#!">Hacker:space link?</a>
                </div>
            </div>
        </footer>
	</body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</html>