<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="description" content="No fluff apartments">
	    <meta name="keywords" content="">
	    <title>No Fluff Apartments</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	    <link rel="stylesheet" href="styles/style.css">
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> 
	</head>
	<body>
		<div>
		  <nav>
		    <div class="nav-wrapper cyan accent-4">
		      <a href="#" class="brand-logo center">no fluff apartments</a>
		    </div>
		  </nav>
		</div>
		<div class="container">
			<div class="row">
				<div class="col m12 s12">
					<h5>PODSTAWOWE INFORMACJE</h5>
					<span>Autor</span>
					<span>Data wystawienia</span>
					<span>Ocena (1/10)</span>
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12">
					<h5>OPŁATY</h5>
					<span>Cena za noc</span>
					<span>Cena za tydzień</span>
					<span>Cena za miesiąc</span>
					<span>Cena za rok</span>
				</div>
				<div class="col m6 s12">
					<h5>LOKALIZACJA</h5>
					<span>Miasto</span>
					<span>Ulica</span>
					<span>Nr domu</span>
					<span>Nr mieszkania</span>
					<span>Kod pocztowy</span>
					<span>Piętro</span>
					<span>Ilość pięter w budynku</span>
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12">
					<h5>ILOŚĆ POMIESZCZEŃ</h5>
					<div>Pokój dzienny
						<span>Kształt pokoju</span>
					</div>
					<div>Sypialnia
						<span>Łóżko</span>
					</div>
					<div>Łazienka
						<span>Prysznic</span>
						<span>Wanna</span>
						<span>Pralka</span>
						<span>Suszarka</span>
					</div>
					<div>WC osobno
					</div>
					<div>Kuchnia
						<span>Piekarnik</span>
						<span>Kuchenka</span>
						<span>Lodówka</span>
						<span>Zamrażarka</span>
					</div>
					<div>Garaż
						<span>miejsca parkingowe</span>
					</div>
					<div>Przedpokój</div>
					<div>Garderoba</div>
					<div>Strych</div>
					<div>Piwnica</div>
				</div>
				<div class="col m6 s12">
					<h5>ZWIERZĘTA</h5>
					<span>niedozwolone</span>
					<span>tylko psy</span>
					<span>tylko koty</span>
					<span>tylko psy i koty</span>
					<span>bez ograniczeń</span>
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12">
					<h5></h5>
				</div>
				<div class="col m6 s12">
				</div>
			</div>
			<div class="row">
				<div class="col m12 s12">
				</div>
			</div>

		</div>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</html>