<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="description" content="No fluff apartments">
	    <meta name="keywords" content="">
	    <title>No Fluff Apartments</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	    <link rel="stylesheet" href="styles/style.css">
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> 
	</head>
	<body>
		<div>
		  <nav>
		    <div class="nav-wrapper cyan accent-4">
		      <a href="#" class="brand-logo center">no fluff apartments</a>
		    </div>
		  </nav>
		</div>
		<div class="container">
			<div class="row">
				<div class="col m12 s12">
					<h5>PODSTAWOWE INFORMACJE</h5>
					<span>Autor</span>
					<span>Data wystawienia</span>
					<span>Ocena (1/10)</span>
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12">
					<h5>OPŁATY</h5>
					<span>Cena za noc</span>
					<span>Cena za tydzień</span>
					<span>Cena za miesiąc</span>
					<span>Cena za rok</span>
				</div>
				<div class="col m6 s12">
					<h5>LOKALIZACJA</h5>
					<span>miasto</span>
					<span>ulica</span>
					<span></span>
					<span>Cena za noc</span>
					<span>kod pocztowy</span>
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12">
				</div>
				<div class="col m6 s12">
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12">
				</div>
				<div class="col m6 s12">
				</div>
			</div>
			<div class="row">
				<div class="col m12 s12">
				</div>
			</div>

		</div>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</html>